@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

html {
  font-family: 'Rubik', sans-serif;
}

body {
  background: #d5d3d3;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}