.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 26rem;
  margin: 5rem auto;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}