.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto !important;
  text-align: center;
}

.authentication form {
  margin-bottom: 1rem;
}

.authentication button {
  margin-right: 0
}