.item__modal-content {
  padding: 0;
}

.item__modal-actions {
  text-align: right;
}

.item__map-container {
  height: 15rem;
  width: 100%;
}

.item__details {
  text-align: center;
  width: 45%;
  margin: 0 auto;
}

.item__details img {
  margin: 0 auto;
  display: block;
  width: 100%;
}

.item__reactions {
  text-align: center;
  padding: 10px;
}

.item__reactions p {
  margin: 0;
  display: inline;
  font-size: 20px;
}

.item__reactions svg {
  padding-left: 15px;
}

.item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #ccc;
}